<center><h1>HosseinzadehKhaligh_Ehsan_HW3</h1></center>
<br>
<br>

###### Name: Ehsan Hosseinzadeh Khaligh
###### USC ID: 1112811250
###### GitHub:  https://github.com/ehsankhaligh

## 1. Time Series Classification Part 1: Feature Creation/Extraction

### (a) Download Data

Package imports

In [1]:
import pandas as pd
import numpy as np
import glob
from IPython.display import display, HTML
import bootstrapped.bootstrap as bs
import bootstrapped.stats_functions as bs_stats

In [2]:
# bootstrapped version

In [3]:
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',100)

Get the AReM Data Set

In [4]:
csv_files = sorted(glob.glob('../data/AReM/*/*.csv'))

In [5]:
csv_files[:5]

['../data/AReM/bending1/dataset1.csv',
 '../data/AReM/bending1/dataset2.csv',
 '../data/AReM/bending1/dataset3.csv',
 '../data/AReM/bending1/dataset4.csv',
 '../data/AReM/bending1/dataset5.csv']

### (b) Test and Train Data

In [6]:
test_files = ['bending1/dataset1.csv', 'bending1/dataset2.csv',
           'bending2/dataset1.csv', 'bending2/dataset2.csv',
           'cycling/dataset1.csv', 'cycling/dataset2.csv', 'cycling/dataset3.csv',
           'lying/dataset1.csv', 'lying/dataset2.csv', 'lying/dataset3.csv',
           'sitting/dataset1.csv', 'sitting/dataset2.csv', 'sitting/dataset3.csv',
           'standing/dataset1.csv', 'standing/dataset2.csv', 'standing/dataset3.csv',
           'walking']

test_file_list = []
train_file_lisr= []

for item in csv_files:
    
    if item.replace('../data/AReM/', '') in test_files:
        test_file_list.append(item)
        
    else:
        train_file_lisr.append(item)

In [7]:
test_file_list[:2]

['../data/AReM/bending1/dataset1.csv', '../data/AReM/bending1/dataset2.csv']

In [8]:
train_file_lisr[:2]

['../data/AReM/bending1/dataset3.csv', '../data/AReM/bending1/dataset4.csv']

### (c) Feature Extraction

#### i. Research

Time-series classification involves the analysis of time-series data to identify patterns or classify the data into different categories. Time-domain features are one of the most commonly used types of features for time-series classification. Here are some examples of commonly used time-domain features:

Mean: The average value of the time series.

Standard deviation: The measure of the dispersion of the data.

Skewness: A measure of the asymmetry of the distribution of the data.

Kurtosis: A measure of the peakiness of the distribution of the data.

Maximum: The highest value in the time series.

Minimum: The lowest value in the time series.

Range: The difference between the maximum and minimum values.

Variance: The average of the squared differences from the mean.

Autocorrelation: A measure of the similarity between a time series and a lagged version of itself.

Cross-correlation: A measure of the similarity between two time series at different lags.

Entropy: A measure of the unpredictability or randomness of the data.

Energy: The sum of the squares of the data values.

Root mean square (RMS): The square root of the average of the squared values.

Zero crossing rate: The number of times the signal crosses the zero axis.

Time-domain fractal dimension: A measure of the complexity of the time series.

These time-domain features can be used in combination with other types of features, such as frequency-domain or wavelet-based features, to improve the accuracy of time-series classification algorithms.

#### ii. Extraction

In [9]:
df_header = ['min', 'max', 'mean', 'median', 'std', 'firstQuartile', 'thirdQuartile']
df_all_header = []
for x in range(1,7):
    for y in df_header:
        df_all_header.append(y+str(x))
        
#df_all_header.append('label')
df_all_header[:5]

['min1', 'max1', 'mean1', 'median1', 'std1']

In [10]:
df_main_test = pd.DataFrame(columns=df_all_header)
df_main_train = pd.DataFrame(columns=df_all_header)
display(df_main_test.head())
display(df_main_train.head())

Empty DataFrame
Columns: [min1, max1, mean1, median1, std1, firstQuartile1, thirdQuartile1, min2, max2, mean2, median2, std2, firstQuartile2, thirdQuartile2, min3, max3, mean3, median3, std3, firstQuartile3, thirdQuartile3, min4, max4, mean4, median4, std4, firstQuartile4, thirdQuartile4, min5, max5, mean5, median5, std5, firstQuartile5, thirdQuartile5, min6, max6, mean6, median6, std6, firstQuartile6, thirdQuartile6]
Index: []

Empty DataFrame
Columns: [min1, max1, mean1, median1, std1, firstQuartile1, thirdQuartile1, min2, max2, mean2, median2, std2, firstQuartile2, thirdQuartile2, min3, max3, mean3, median3, std3, firstQuartile3, thirdQuartile3, min4, max4, mean4, median4, std4, firstQuartile4, thirdQuartile4, min5, max5, mean5, median5, std5, firstQuartile5, thirdQuartile5, min6, max6, mean6, median6, std6, firstQuartile6, thirdQuartile6]
Index: []

In [11]:
for csv_path in test_file_list:
    
    #print(csv_path) # if you would like to see files names comment out here 
    
    df = pd.read_csv(csv_path, comment='#', header=None) 
    
    #debug
    #display(df.describe())
    #print('min6:', df.describe()[6][3])
    #print('max6:', df.describe()[6][7])
    #print('mean6:', df.describe()[6][1])
    #print('median6:', df.describe()[6][5])
    #print('std6:', df.describe()[6][2])
    #print('firstQuartile6:', df.describe()[6][4])
    #print('thirdQuartile6:', df.describe()[6][6])
    
    new_row = { 'min1': df.describe()[1][3],
                'max1': df.describe()[1][7],
                'mean1': df.describe()[1][1],
                'median1': df.describe()[1][5],
                'std1': df.describe()[1][2],
                'firstQuartile1': df.describe()[1][4],
                'thirdQuartile1': df.describe()[1][6],

                'min2': df.describe()[2][3],
                'max2': df.describe()[2][7],
                'mean2': df.describe()[2][1],
                'median2': df.describe()[2][5],
                'std2': df.describe()[2][2],
                'firstQuartile2': df.describe()[2][4],
                'thirdQuartile2': df.describe()[2][6],

                'min3': df.describe()[3][3],
                'max3': df.describe()[3][7],
                'mean3': df.describe()[3][1],
                'median3': df.describe()[3][5],
                'std3': df.describe()[3][2],
                'firstQuartile3': df.describe()[3][4],
                'thirdQuartile3': df.describe()[3][6],

                'min4': df.describe()[4][3],
                'max4': df.describe()[4][7],
                'mean4': df.describe()[4][1],
                'median4': df.describe()[4][5],
                'std4': df.describe()[4][2],
                'firstQuartile4': df.describe()[4][4],
                'thirdQuartile4': df.describe()[4][6],
               
                'min5': df.describe()[5][3],
                'max5': df.describe()[5][7],
                'mean5': df.describe()[5][1],
                'median5': df.describe()[5][5],
                'std5': df.describe()[5][2],
                'firstQuartile5': df.describe()[5][4],
                'thirdQuartile5': df.describe()[5][6],

                'min6': df.describe()[6][3],
                'max6': df.describe()[6][7],
                'mean6': df.describe()[6][1],
                'median6': df.describe()[6][5],
                'std6': df.describe()[6][2],
                'firstQuartile6': df.describe()[6][4],
                'thirdQuartile6': df.describe()[6][6]
          }

    df_main_test = df_main_test.append(new_row, ignore_index=True)

In [12]:
#Cleaned: ../AReM/cycling/dataset14.csv, /data/AReM/cycling/dataset9.csv


csv_files_space = ['../data/AReM/bending2/dataset4.csv']

for csv_path in train_file_lisr:
    
    #print(csv_path)  # if you would like to see files names comment out here 
        
    if csv_path in csv_files_space:
        df = pd.read_csv(csv_path, comment='#', header=None, delimiter=r"\s+")

    else:
        df = pd.read_csv(csv_path, comment='#', header=None)
    
    #debug
    #display(df)
    #display(df.describe())
    #print('min6:', df.describe()[6][3])
    #print('max6:', df.describe()[6][7])
    #print('mean6:', df.describe()[6][1])
    #print('median6:', df.describe()[6][5])
    #print('std6:', df.describe()[6][2])
    #print('firstQuartile6:', df.describe()[6][4])
    #print('thirdQuartile6:', df.describe()[6][6])
    
    new_row = { 'min1': df.describe()[1][3],
                'max1': df.describe()[1][7],
                'mean1': df.describe()[1][1],
                'median1': df.describe()[1][5],
                'std1': df.describe()[1][2],
                'firstQuartile1': df.describe()[1][4],
                'thirdQuartile1': df.describe()[1][6],

                'min2': df.describe()[2][3],
                'max2': df.describe()[2][7],
                'mean2': df.describe()[2][1],
                'median2': df.describe()[2][5],
                'std2': df.describe()[2][2],
                'firstQuartile2': df.describe()[2][4],
                'thirdQuartile2': df.describe()[2][6],

                'min3': df.describe()[3][3],
                'max3': df.describe()[3][7],
                'mean3': df.describe()[3][1],
                'median3': df.describe()[3][5],
                'std3': df.describe()[3][2],
                'firstQuartile3': df.describe()[3][4],
                'thirdQuartile3': df.describe()[3][6],

                'min4': df.describe()[4][3],
                'max4': df.describe()[4][7],
                'mean4': df.describe()[4][1],
                'median4': df.describe()[4][5],
                'std4': df.describe()[4][2],
                'firstQuartile4': df.describe()[4][4],
                'thirdQuartile4': df.describe()[4][6],
               
                'min5': df.describe()[5][3],
                'max5': df.describe()[5][7],
                'mean5': df.describe()[5][1],
                'median5': df.describe()[5][5],
                'std5': df.describe()[5][2],
                'firstQuartile5': df.describe()[5][4],
                'thirdQuartile5': df.describe()[5][6],

                'min6': df.describe()[6][3],
                'max6': df.describe()[6][7],
                'mean6': df.describe()[6][1],
                'median6': df.describe()[6][5],
                'std6': df.describe()[6][2],
                'firstQuartile6': df.describe()[6][4],
                'thirdQuartile6': df.describe()[6][6]
          }

    df_main_train = df_main_train.append(new_row, ignore_index=True)

In [13]:
display(df_main_test.shape)
display(df_main_test.head())

display(df_main_train.shape)
display(df_main_train.head())

(16, 42)

,min1,max1,mean1,median1,std1,firstQuartile1,thirdQuartile1,min2,max2,mean2,median2,std2,firstQuartile2,thirdQuartile2,min3,max3,mean3,median3,std3,firstQuartile3,thirdQuartile3,min4,max4,mean4,median4,std4,firstQuartile4,thirdQuartile4,min5,max5,mean5,median5,std5,firstQuartile5,thirdQuartile5,min6,max6,mean6,median6,std6,firstQuartile6,thirdQuartile6
0,37.25,45.0,40.624792,40.5,1.476967,39.25,42.0,0.0,1.3,0.358604,0.43,0.322605,0.0,0.5,4.0,29.5,19.040937,19.25,4.462952,16.0,23.25,0.0,7.23,0.832542,0.5,0.965659,0.0,1.12,27.25,38.25,34.311292,35.0,2.188449,33.0,36.0,0.0,1.92,0.570583,0.43,0.582915,0.0,1.3
1,38.0,45.67,42.812812,42.5,1.43555,42.0,43.67,0.0,1.22,0.372438,0.47,0.289158,0.0,0.5,2.0,29.5,20.096979,21.0,3.893737,19.0,22.25,0.0,5.76,0.876438,0.5,1.047259,0.0,1.145,27.67,38.5,33.024583,33.0,1.995255,32.0,34.5,0.0,3.11,0.571083,0.43,0.60101,0.0,1.3
2,12.75,51.0,24.562958,24.25,3.737514,23.1875,26.5,0.0,6.87,0.590833,0.43,0.837408,0.0,0.71,0.0,25.33,19.121333,20.25,4.299612,18.0,22.0,0.0,6.76,0.736771,0.47,0.927048,0.0,0.87,10.67,30.0,23.493042,23.75,3.693786,20.5,27.0,0.0,4.97,0.700188,0.5,0.69372,0.43,0.87
3,0.0,42.75,27.464604,28.0,3.583582,25.5,30.0,0.0,7.76,0.449708,0.43,0.767197,0.0,0.5,7.5,35.0,20.842542,20.75,3.826268,18.0,22.5,0.0,5.76,0.779917,0.5,0.904436,0.0,0.94,0.0,33.0,17.617937,18.0,5.053642,15.0,20.75,0.0,6.76,1.122125,0.83,1.012342,0.47,1.3
4,24.25,45.0,37.177042,36.25,3.581301,34.5,40.25,0.0,8.58,2.374208,1.92,1.601799,1.3,3.13,5.5,26.75,16.531083,16.67,3.430906,14.25,19.0,0.0,8.05,2.910604,2.62,1.600137,1.64,3.9175,7.0,25.5,19.60725,20.0,2.890347,17.95,21.75,0.0,9.34,2.921729,2.5,1.8526,1.5,3.9

(72, 42)

,min1,max1,mean1,median1,std1,firstQuartile1,thirdQuartile1,min2,max2,mean2,median2,std2,firstQuartile2,thirdQuartile2,min3,max3,mean3,median3,std3,firstQuartile3,thirdQuartile3,min4,max4,mean4,median4,std4,firstQuartile4,thirdQuartile4,min5,max5,mean5,median5,std5,firstQuartile5,thirdQuartile5,min6,max6,mean6,median6,std6,firstQuartile6,thirdQuartile6
0,35.0,47.4,43.9545,44.33,1.558835,43.0,45.0,0.0,1.7,0.42625,0.47,0.33869,0.0,0.5,6.5,29.75,22.122354,23.0,3.030943,19.75,24.0,0.0,4.44,0.497313,0.43,0.550657,0.0,0.83,29.0,38.5,35.588458,36.0,1.999604,35.3625,36.5,0.0,1.79,0.493292,0.43,0.513506,0.0,0.94
1,33.0,47.75,42.179813,43.5,3.670666,39.15,45.0,0.0,3.0,0.696042,0.5,0.63086,0.0,1.12,8.5,30.0,22.183625,23.0,3.810469,20.5,24.3725,0.0,5.15,0.989917,0.83,0.95373,0.43,1.3,20.0,38.67,33.493917,35.0,3.849448,30.4575,36.33,0.0,2.18,0.613521,0.5,0.524317,0.0,1.0
2,33.0,45.75,41.678063,41.75,2.24349,41.33,42.75,0.0,2.83,0.535979,0.5,0.405469,0.43,0.71,3.0,28.25,19.006562,19.125,4.087107,16.5,22.0625,0.0,6.42,0.841875,0.5,0.928801,0.43,1.12,23.67,37.5,29.857083,30.0,2.411026,28.4575,31.25,0.0,1.79,0.383292,0.43,0.389164,0.0,0.5
3,37.0,48.0,43.454958,43.25,1.386098,42.5,45.0,0.0,1.58,0.378083,0.47,0.315566,0.0,0.5,5.75,27.0,15.793333,15.0,3.847638,13.0,18.27,0.0,10.03,0.849354,0.5,0.995761,0.43,1.12,8.0,33.5,23.034792,23.5,2.488862,22.25,24.0,0.0,5.26,0.679646,0.5,0.622534,0.43,0.87
4,36.25,48.0,43.969125,44.5,1.618364,43.31,44.67,0.0,1.5,0.413125,0.47,0.263111,0.43,0.5,1.5,26.33,15.868021,16.25,3.74242,14.25,18.0,0.0,5.17,0.666354,0.47,0.788985,0.0,0.94,11.33,30.75,22.10375,21.67,3.318301,20.5,23.75,0.0,2.96,0.555313,0.49,0.487826,0.0,0.83

#### iii. Standard Deviation

In [14]:
#we need to first merge two dfs 
train_test_df = df_main_train.append(df_main_test, ignore_index=True)
train_test_df.head()

,min1,max1,mean1,median1,std1,firstQuartile1,thirdQuartile1,min2,max2,mean2,median2,std2,firstQuartile2,thirdQuartile2,min3,max3,mean3,median3,std3,firstQuartile3,thirdQuartile3,min4,max4,mean4,median4,std4,firstQuartile4,thirdQuartile4,min5,max5,mean5,median5,std5,firstQuartile5,thirdQuartile5,min6,max6,mean6,median6,std6,firstQuartile6,thirdQuartile6
0,35.0,47.4,43.9545,44.33,1.558835,43.0,45.0,0.0,1.7,0.42625,0.47,0.33869,0.0,0.5,6.5,29.75,22.122354,23.0,3.030943,19.75,24.0,0.0,4.44,0.497313,0.43,0.550657,0.0,0.83,29.0,38.5,35.588458,36.0,1.999604,35.3625,36.5,0.0,1.79,0.493292,0.43,0.513506,0.0,0.94
1,33.0,47.75,42.179813,43.5,3.670666,39.15,45.0,0.0,3.0,0.696042,0.5,0.63086,0.0,1.12,8.5,30.0,22.183625,23.0,3.810469,20.5,24.3725,0.0,5.15,0.989917,0.83,0.95373,0.43,1.3,20.0,38.67,33.493917,35.0,3.849448,30.4575,36.33,0.0,2.18,0.613521,0.5,0.524317,0.0,1.0
2,33.0,45.75,41.678063,41.75,2.24349,41.33,42.75,0.0,2.83,0.535979,0.5,0.405469,0.43,0.71,3.0,28.25,19.006562,19.125,4.087107,16.5,22.0625,0.0,6.42,0.841875,0.5,0.928801,0.43,1.12,23.67,37.5,29.857083,30.0,2.411026,28.4575,31.25,0.0,1.79,0.383292,0.43,0.389164,0.0,0.5
3,37.0,48.0,43.454958,43.25,1.386098,42.5,45.0,0.0,1.58,0.378083,0.47,0.315566,0.0,0.5,5.75,27.0,15.793333,15.0,3.847638,13.0,18.27,0.0,10.03,0.849354,0.5,0.995761,0.43,1.12,8.0,33.5,23.034792,23.5,2.488862,22.25,24.0,0.0,5.26,0.679646,0.5,0.622534,0.43,0.87
4,36.25,48.0,43.969125,44.5,1.618364,43.31,44.67,0.0,1.5,0.413125,0.47,0.263111,0.43,0.5,1.5,26.33,15.868021,16.25,3.74242,14.25,18.0,0.0,5.17,0.666354,0.47,0.788985,0.0,0.94,11.33,30.75,22.10375,21.67,3.318301,20.5,23.75,0.0,2.96,0.555313,0.49,0.487826,0.0,0.83

In [15]:
df_iii = pd.DataFrame(columns = ['feature', 'std', 'interval'])

for col_name in list(train_test_df.columns.values):
    
    #print(col_name)
    
    feature_val_list = train_test_df[col_name].to_numpy()
    feature_val_list = [np.float64(x) for x in feature_val_list]
    feature_val_list = np.asarray(feature_val_list)
    
    #debug
    #print(feature_val_list)
    #print(type(feature_val_list))
    #print(type(feature_val_list[0]))
    
    bootstrap_std_devs = bs.bootstrap(feature_val_list, stat_func=bs_stats.std, alpha=0.1, num_iterations=10000)
    
    #print(bootstrap_std_devs, '\n') #prints std (lower_bound, upper_bound)
    
    #print(bootstrap_std_devs.value)
    #print(bootstrap_std_devs.lower_bound)
    #print(bootstrap_std_devs.upper_bound)
    
    df_iii = df_iii.append({'feature' : col_name, 'std' : bootstrap_std_devs.value, 'interval' : str(round(bootstrap_std_devs.lower_bound, 4))+','+str(round(bootstrap_std_devs.upper_bound, 4))}, ignore_index = True)

display(df_iii)

           feature       std       interval
0             min1  9.515445  8.322,10.8207
1             max1  4.369322  3.4969,5.4161
2            mean1  5.305314  4.7641,5.9375
3          median1  5.409056  4.8365,6.0545
4             std1  1.762056  1.5821,1.9608
5   firstQuartile1  6.118526  5.6258,6.6976
6   thirdQuartile1  5.109643  4.4055,5.9061
7             min2       0.0        0.0,0.0
8             max2  5.033882  4.6967,5.4652
9            mean2  1.565194  1.4333,1.7436
10         median2  1.404197  1.2738,1.5766
11            std2  0.879068  0.8215,0.9592
12  firstQuartile2  0.940994  0.8538,1.0557
13  thirdQuartile2  2.113157  1.9479,2.3427
14            min3  2.939616  2.7875,3.1325
15            max3  4.847358  4.2635,5.5411
16           mean3   3.98554  3.5053,4.5796
17         median3  4.013397    3.5087,4.62
18            std3  0.941316    0.77,1.1217
19  firstQuartile3  4.196608   3.7185,4.794
20  thirdQuartile3  4.147858   3.6266,4.771
21            min4       0.0        0.0,0.0
22            max4  2.171183   1.9956,2.378
23           mean4   1.15947  1.1041,1.2481
24         median4  1.139058  1.0834,1.2269
25            std4  0.455631  0.4272,0.4931
26  firstQuartile4  0.838813  0.7926,0.9075
27  thirdQuartile4  1.543658  1.4692,1.6614
28            min5  6.089107  4.7304,7.7882
29            max5  5.708524  4.8811,6.6943
30           mean5  5.643253  4.5853,6.8628
31         median5  5.780655  4.6801,7.0868
32            std5  1.019058  0.8237,1.2322
33  firstQuartile5  6.061727   4.936,7.3335
34  thirdQuartile5    5.5002  4.5267,6.6926
35            min6  0.045577  0.0131,0.0912
36            max6  2.504568  2.2631,2.7711
37           mean6  1.148232  1.0892,1.2413
38         median6  1.080284  1.0189,1.1702
39            std6  0.514668  0.4872,0.5523
40  firstQuartile6  0.754261    0.705,0.822
41  thirdQuartile6  1.514918  1.4376,1.6346

#### iv. Select Features

I did an online research and this question is a big topic. In general I would create ML to see correlation between features. However, based on what I read, I would choose STD, mean, range (max-min).  (I chose range as new one because I believe min and max are both imp and to have both selected range)

## 2. ISLR 3.7.4



I collect a set of data (n = 100 observations) containing a single predictor and a quantitative response. I then fit a linear regression model to the data, as well as a separate cubic regression, i.e. Y = β0 +β1X +β2X2 +β3X3 +ε.

### (a) Linear Train

Suppose that the true relationship between X and Y is linear, i.e. Y = β0 + β1X + ε. Consider the training residual sum of squares (RSS) for the linear regression, and also the training RSS for the cubic regression. Would we expect one to be lower than the other, would we expect them to be the same, or is there not enough information to tell? Justify your answer.

> Use of cubic regression would have more features and might be noisier; if linear is a good fit I see no reason to use cubic. 

> Cubic because of more features would provide a lower RSS than Linear regression.

### (b) Linear Test

Answer (a) using test rather than training RSS.¶

> if we split 20:80 for test:training, test data is smaller with more noise and overfit. Hence, linear regression will have lower RSS.

### (c) Not Linear Train

Suppose that the true relationship between X and Y is notlinear, but we don’t know how far it is from linear. Consider the training RSS for the linear regression, and also the training RSS for the cubic regression. Would we expect one to be lower than the other, would we expect them to be the same, or is there not enough information to tell? Justify your answer.

> When the question says 'we don’t know how far it is from linear', it can be very large or very small (negligible). As a result, I need to closely see dataset and graphs to find out.

### (d) Not Linear Testing

Answer (c) using test rather than training RSS.

> We dont have enough info to say. A similar justification can be used as (c). First, we need to analyze training and next test.

## 3. ISLR 3.7.3 - Extra Practice

Will start working after submission of HW4

## 3. ISLR 3.7.5 - Extra Practice

Will start working after submission of HW4